/* Styles de base */
body {
    font-family: 'Kaisei HarunoUmi', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
}

.frame-1 .logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 80px;
    height: auto;
}

header {
    text-align: center;
    background-color: #000;
    color: #fff;
}

.main-title {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #f2f2f2;
    padding-bottom: 15px;
}

.banner img {
    width: 100%;
    height: auto;
    max-width: 1450px;
    height: 450px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
}

main .intro {
    display: flex;
    justify-content: space-around;
    margin: 20px 50px;
}

.card {
    text-align: center;
}

.card img {
    width: 150px;
    height: auto;
    border: 2px solid #000;
    margin-bottom: 10px;
}

.intro {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.card p {
    font-size: 18px;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

#galerie {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

#galerie h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 5px;
}

/* Ajustements spécifiques aux images de la galerie */
.gallery-grid img:nth-child(5),
.gallery-grid img:nth-child(8) {
    grid-column: span 2;
}

.gallery-grid img:nth-child(3),
.gallery-grid img:nth-child(7) {
    width: 80%;
    margin: 0 auto;
}

.immersion {
    text-align: center;
    margin: 50px auto;
    max-width: 1200px;
}

.immersion h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.life-sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.vincent-life {
    text-align: center;
    margin: 45px auto;
    max-width: 1200px;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #333;
}

.life-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    flex: 1;
}

.life-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.life-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.life-card p {
    font-size: 14px;
    text-align: justify;
}

footer {
    background-color: #0b0b0b;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.footer-section {
    max-width: 250px;
}

.footer-section .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.footer-section .social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 10px;
    transition: color 0.3s ease;
}

.footer-section .social-icons a img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.footer-section .social-icons a:hover {
    color: #0077cc;
}

.footer-section .social-icons a img:hover {
    transform: scale(1.1);
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

/* Responsive pour tablettes */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 10px 0;
    }

    .banner img {
        height: 300px;
    }

    .intro {
        flex-direction: column;
        margin: 20px 10px;
    }

    .card img {
        width: 120px;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .life-sections {
        flex-direction: column;
        gap: 20px;
    }

    .life-card {
        flex: 1 0 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

/* Responsive pour smartphones */
@media screen and (max-width: 480px) {
    .main-title {
        font-size: 28px;
    }

    h1 {
        font-size: 24px;
    }

    .life-card h2 {
        font-size: 16px;
    }

    .life-card p {
        font-size: 12px;
    }

    .banner img {
        height: 250px;
    }

    .card img {
        width: 100px;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    footer {
        padding: 15px 0;
    }

    .social-icons img {
        width: 80px;
    }
}
