<style>
        body {
            color: #FFF;
            font-family: "Kaisei HarunoUmi", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    </style>
